public-hoist-pattern[]=*prisma*
auto-install-peers=true
engine-strict=true
strict-peer-dependencies=false
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
# node-linker=hoisted
# prefer-symlinked-executables=false
save-prefix=''
