public-hoist-pattern[]=*prisma*
auto-install-peers=true
engine-strict=true
strict-peer-dependencies=false
# shell-emulator=true
# enable-pre-post-scripts=true
# link-workspace-packages=true
# public-hoist-pattern[]=*eslint*
# public-hoist-pattern[]=*prettier*
# hoist-pattern[]=@prisma/client
node-linker=hoisted
# shamefully-hoist=true

