.drawerContent {
	border-radius: rem(32px) 0 0 0;
	min-width: 40vw;
}
.drawerBody {
	padding: rem(40px) rem(32px);
}
.drawerBody:not(:only-child) {
	padding-top: rem(40px);
}

.addNewText {
	color: var(--ir-color-secondary-teal);
}

.overlay {
	background-color: lighten(#28939c, 0.9);
	border-radius: rem(16px);
	margin: rem(-4px);
	padding: rem(4px);
}
@media (hover: hover) {
	.overlay:hover {
		cursor: pointer;
	}
}
