name: Crowdin Action

on:
  push:
    paths:
      - 'apps/app/public/locales/en/*.json'
  pull_request:
    types:
      - closed
    branches-ignore:
      # - dev
      - main
      - l10n*

jobs:
  synchronize-with-crowdin:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@83b7061638ee4956cf7545a6f7efe594e5ad0247 # v3

      - name: Remove Jira ticket ID from branch name
        id: branchregex
        uses: ashley-taylor/regex-property-action@eeec905bf940ec1c65ff777402c57f786368d9bc # v1.4
        with:
          value: ${{ github.ref_name }}
          regex: IN-\d+
          flags: gi
          replacement: IN-xxx

      - name: Sanitize github branch name
        id: sanitizebranch
        uses: ashley-taylor/regex-property-action@eeec905bf940ec1c65ff777402c57f786368d9bc # v1.4
        with:
          value: ${{ github.head_ref || github.ref_name}}
          regex: '[\\/:*?"<>|>]'
          flags: gi
          replacement: '_'

      - name: Upload to Crowdin
        if: github.event_name != 'pull_request'
        uses: crowdin/github-action@840b586cf1214a04c4701d90f9100f9766d7390d # v1.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACT_PAT }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
        with:
          upload_sources: true
          upload_translations: false
          download_translations: false
          localization_branch_name: ${{ steps.branchregex.outputs.value }}
          create_pull_request: true
          pull_request_title: 'chore(i18n): Updated translations from Crowdin'
          pull_request_labels: "translations, kodiak: merge.method = 'squash', automerge"
          pull_request_base_branch_name: ${{ github.ref_name }}
          crowdin_branch_name: ${{ steps.sanitizebranch.outputs.value }}

      - name: Delete Crowdin Branch
        if: github.event_name == 'pull_request'
        uses: crowdin/github-action@840b586cf1214a04c4701d90f9100f9766d7390d # v1.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACT_PAT }}
          CROWDIN_PERSONAL_TOKEN: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
        with:
          upload_sources: false
          upload_translations: false
          download_translations: false
          create_pull_request: false
          delete_crowdin_branch: ${{ steps.sanitizebranch.outputs.value }}
