name: Lint & format

on:
  push:
    branches-ignore: [dev, main]
  pull_request:
    branches: [dev]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.ref || github.ref }}
  cancel-in-progress: true

jobs:
  lintformat:
    env:
      TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
      TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
    name: 'Lint & format'
    runs-on: ubuntu-latest
    steps:
      # Setup steps
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          ref: ${{ github.head_ref }}
          fetch-depth: 0
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@111c56156bcc6918c056dbef52164cfa583dc549 # v5
        with:
          gpg_private_key: ${{ secrets.BOT_GPG_KEY }}
          git_config_global: true
          git_commit_gpgsign: true
      - name: Install Node.js
        uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3
        with:
          node-version: 16
      - uses: pnpm/action-setup@c3b53f6a16e57305370b4ae5a540c2077a1d50dd # v2.2.4
        name: Install pnpm
        id: pnpm-install
        with:
          run_install: false
      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT
      - uses: actions/cache@58c146cc91c5b9e778e71775dfe9bf1442ad9a12 # v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-
      - name: Install dependencies
        run: pnpm install && pnpm db:generate --force

      # Linting & Formatting
      - name: Lint workspace
        run: pnpm lint:pkg
      - name: Lint projects
        run: pnpm lint:fix
      - name: Format projects
        run: pnpm format

      # Commit changes
      - name: Commit changed files
        uses: stefanzweifel/git-auto-commit-action@3ea6ae190baf489ba007f7c92608f33ce20ef04a # v4
        with:
          commit_message: 'chore: lint & format'
          skip_fetch: true
          skip_checkout: true
